@import "variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "./layout/sidebar";
@import "./layout/container";

.small-image {
  width: 100%;
  height: 30px;
}

.small-image-mobile {
  display: none;
}

.header-image {
  width: 100%;
  height: 46px;
}

.medium-image {
  width: 100%;
  height: 100px;
}

.right-card-image {
  width: 100%;
  height: 40px;
}

.all-space {
  width: 100%;
}

.welcome-image {
  width: 100%;
  height: 100%;
  position: inherit;
}

.left-column {
  margin: 0;
  padding: 0;
}

.right-column {
  margin: 0;
  padding: 0;
}

.left-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.right-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 361px;
  // background-image: linear-gradient($celuparts-dark-blue, $celuparts-light-blue);
  background-color: $celuparts-light-blue;
}

.sing-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: black;
}

.sing-up-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-y: scroll;
  max-height: 100%;
}

// .home-image-container-admin {
//   display: flex;
//   background-image: url("../images/welcome-image.jpg");
//   background-attachment: fixed;
//   filter: blur(2px) grayscale(0.8);
//   opacity: 0.1;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   padding-top: 300px;
//   padding-bottom: 300px;
//   min-height: 100%;
//   width: 100%;
//   height: 1672px;
// }

.home-container-admin {
  // position: relative;
  height: 1672px;
  clip-path: inset(0);
}

.home-container {
  // position: relative;
  //height: 620px;
  height: 920px;
  clip-path: inset(0);
}

.home-image-container-admin img {
  filter: blur(2px) grayscale(0.8);
  position: fixed;
  opacity: 0.1;
  object-fit: cover;
  top: 0;
  left: 0;
  object-position: center center;
  min-height: 100%;
  width: 100%;
  height: 1672px;
  overflow: hidden;
}

// .home-image-container {
//   display: flex;
//   background-image: url("../images/welcome-image.jpg");
//   background-attachment: fixed;
//   // background-color: grey;
//   filter: blur(2px) grayscale(0.8);
//   opacity: 0.1;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   padding-top: 300px;
//   padding-bottom: 300px;
//   min-height: 100%;
//   width: 100%;
// }

.home-image-container img {
  filter: blur(2px) grayscale(0.8);
  position: fixed;
  opacity: 0.1;
  object-fit: cover;
  top: 0;
  left: 0;
  object-position: center center;
  min-height: 100%;
  width: 100%;
  height: 620px;
  overflow: hidden;
}

.contentArea {
  flex-grow: 1;
  max-width: 100%;
  margin: 0 auto;
}

.home-image {
  width: 100%;
  height: 380px;
}

.home-title {
  position: absolute;
  color: black;
  font-weight: bold;
  top: 50%;
  left: 50%;
  font-size: 38px;
  font-weight: bold;
}

.sidebar-label {
  margin-left: 24px;
}

.footer-container {
  background-color: black;
  padding: 2rem 0 4rem 0;
}

.footer {
  height: 40vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  color: red;
  transition: 0.3s ease-out;
}

// HANDLING SCREEN SIZES

@media screen and (max-height: 694px) {
  .sing-up-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 15rem;
    overflow-y: scroll;
    max-height: 100%;
  }
}

@media screen and (max-width: 1348px) {
  .footer {
    height: 50vh;
  }
}


@media screen and (max-width: 1150px) {
  .footer {
    height: 50vh;
  }
}

@media screen and (max-width: 900px) {
  .home-title {
    position: absolute;
    color: black;
    font-weight: bold;
    top: 50%;
    left: 30%;
    font-size: 28px;
    font-weight: bold;
  }

  .footer-3 {
    display: none;
  }

  .footer {
    padding-top: 2rem;
  }

  .small-image-mobile {
    display: inline;
    width: 100%;
    height: 30px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    height: 50vh;
  }

  .right-column {
    display: none;
  }
}

@media screen and (max-width: 280px) {
  .home-title {
    position: absolute;
    color: black;
    font-weight: bold;
    top: 50%;
    left: 15%;
    font-size: 28px;
    font-weight: bold;
  }

  .right-column {
    display: none;
  }

  .footer {
    height: 50vh;
  }
}